# Directories
bin/
bin-int/

EmailSenderApp/MSG/
EmailSenderApp/assets/
EmailSenderApp/Downloads/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# text files
**.log
**.msg
**.txt
**.pdf
**.doc
**.docx
EmailSenderApp/Config/Config.yml

# images
**.png
**.jpg
