
# Directories
bin/
bin-int/
EmailSenderApp/MSG/
EmailSenderApp/assets/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**.ini
**.json

# text files
**.log
**.msg
**.txt

# images
**.png
**.jpg
